<!-- Header Style Area -->
<%- include('includes/header.ejs')%>
  </head>
  <body>
    <header>
      <!-- menu -->
     <%- include('includes/navigation.ejs')%>
    </header>
    <main >
      Page Not Found
    </main>

<!-- End Area -->
<%- include('includes/footer.ejs')%>
